/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Your custom styles here */
body {
    font-family: 'Instrument Sans', sans-serif;
}

/* Additional custom styles can be added below */
